/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,微软雅黑;color:#333;outline:none;}
body{background-color: #efefef;}
a,a:hover{color:#333;}


.g-header{width: 100%;height: 100px;margin:0 auto;background: #fff}
.g-header .m-tabs{display: flex;justify-content: center;align-items: center}
.m-tab{position: relative;float: left;margin-top: 23px;width: 310px;height: 39px;}
.m-tab a{color: #b5b5b6;}
.m-tab .z-active a{color:#5ed0ba;}
.m-tab ul>li{float: left;font-size: 14px;padding: 10px 20px;cursor: pointer;}
.m-tab .tabs-track{position: absolute;bottom: 0;height: 4px;width: 97%;background:#dcdddd;border-radius: 2px;}
.m-tab .tabs-thumb{position: absolute;height: 4px;border-radius: 2px;background: #5ed0ba;transition: ease 0.1s;}